<p id="notice"><%= notice %></p>

<h3>Nieruchomości </h3>
<% @estates.each do |estate| %>

  <div class="col-sm-6 col-md-4" >
    <div class="thumbnail" >
      <%= link_to(image_tag(estate.image_url), @estate) %>
      <div class="caption">
        <h3><%= estate.title %></h3>
        <p>Cena: <%= estate.price %></p>
        <p>Adres: <%= estate.address %></p>
        <p>Opis: <%= estate.description %></p>
        <p>
        <%= link_to 'Pokaż', estate, 'data-no-turbolink' => false, :class => 'btn btn-primary', :role => 'button' %>
        
        

        <% if user_signed_in? %>
      <%= link_to 'Edytuj', edit_estate_path(estate), :class => 'btn btn-primary', :role => 'button' %>
      <%= link_to 'Usuń', estate, method: :delete, data: { confirm: 'Na pewno?' }, :class=> "btn btn-small" %>

          <% end %>
          </p>
      </div>
    </div>
  </div>

<% end %>


<%= link_to 'Dodaj Nieruchomość', new_estate_path %>
