<!DOCTYPE html>
<html>
<head>
  <title>Restate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		
		<%= link_to 'RESTATE', estates_path, :class=>"navbar-brand" %>
		<div class="nav nav-collapse">
			
			<ul class="nav navbar-nav pull-right">
			<li><%= link_to 'DODAJ', new_estate_path, :class=>'navbar-brand' %></li>
				<% if user_signed_in? %>
				<li><%= link_to "#{current_user.email}" %></li>
				<li class="active"><%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></li>
				<% else %>
				<li><%= link_to "Zaloguj", new_user_session_path %></li>
				<li class="active"><%= link_to "Rejestracja", new_user_registration_path %> </li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<%= yield %>
</div>


</body>
</html>
